<div id= "container">
  <div id= "headerImage">
        <img src="images/tOSUHeader.png" alt="Picture of Radu Teodorescu" style="max-width: 100%; height: auto;">
    <h1 id= "h1Name">Radu Teodorescu</h1>
  </div>
  <nav id= "navBar">
    <ul id= "navUL">
      <li><a href="index.html">About me</a></li>
      <li><a href="Publications.html">Publications</a>
        <div class="dropdown">
          <div class="dropdown-content">
            <a href="Publications.html#Conference">Conference Papers</a>
            <a href="Publications.html#Workshop">Workshop Papers</a>
            <a href="Publications.html#Thesis">Thesis</a>
            <a href="Publications.html#Technical">Technical Reports</a>
          </div>
        </div> 
      </li>
      <li><a href="presentations.html">Presentations</a></li>
      <li><a href="labResearch.html">Research</a>
        <div class="dropdown">
          <div class="dropdown-content" id= "researchDropDown-content">
            <a href="research.html">About us</a>
            <a href="people.html">People</a>
            <a href="tools.html">Tools</a>
            <a href="Publications.html">Publications</a>
          </div>
        </div> 
        </li>
      <li><a href="tools.html">Tools</a>
        <div class="dropdown">
          <div class="dropdown-content" id= "toolsDropDown-content">
            <a href="varius.html">VARIUS</a>
          </div>
        </div> 
      </li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>