---
title: Contact
---

<!-- Contact info for the lab -->
<div id="content">
	<h2>Email</h2>
	<ul>
		<li>teodorescu.1@osu.edu</li>
	</ul>
	<h2>Office</h2>
	<ul>
		<li>797 Dreese lab</li>
		<li>2015 Neil Ave.</li>
		<li>Columbus, OH, 43210</li>
	</ul>
</div>

