---
title: Radu Teodorescu
---
<!-- About me container div with two child divs for left and right sections. Left div contains two image tags with inline styling. -->
<div id= "aboutDiv">
 <div id= "leftDiv">
  <!-- Added alt attributes to img tag for accessibility. -->
  <img src= "images/Teodorescu.jpg" alt= "main photo" style="max-width: 100%; height: auto;" >
  <img src= "images/OSU-CSE.png" alt = "CSE Department" style= "max-width: 100%; height: auto;">
</div>
<div id= "rightDiv">
  <article>
    <h2>About Me</h2>
    <div>
      <p>I am a Professor in the <a href="https://www.cse.ohio-state.edu/">Department of Computer Science and Engineering</a> at <a href="https://www.osu.edu/">Ohio State University</a>. I lead the <strong><a href="research.html">Architecture Research Lab</a></strong>. Our research interests include computer architecture, energy efficient computing, security and reliability. </p>
      <p>I received my Ph.D. from the <a href="https://cs.illinois.edu/">Department of Computer Science</a>, <a href="https://illinois.edu/">University of Illinois at Urbana-Champaign</a> where I was a member of the <a href="http://iacoma.cs.uiuc.edu/">IACOMA</a> group working with <a href="http://iacoma.cs.uiuc.edu/~torrella/">Prof. Josep Torrellas</a>. I was the recipient of the Ohio State CSE Department Teaching Award in 2021, the <a href="https://engineering.osu.edu/awards/content/lumley-research-award">Lumley Award</a> in 2014, an <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&HistoricalAwards=false">NSF CAREER award</a> in 2012, <a href="https://www.intel.com/content/www/us/en/education/highered/higher-ed-overview.html">Intel Foundation Fellowship</a> for 2007-2008 and the <a href="https://cs.illinois.edu/csillinois/awards#2007-2008">W. J. Poppelbaum Award</a> for 2008. We were proud to help organize <a href="https://www.microarch.org/micro52/">MICRO-52 in Columbus, Ohio</a> in October 2019.</p>
      <p>I am looking for bright and motivated students to join my research group. For more details and research updates please visit <a href="http://arch.cse.ohio-state.edu/">my group’s website</a>. If you are interested in working with us send me an email or drop by my <a href="contact.html">office</a>. </p>
    </div>
    <div>
      <h3>Teaching</h3>
      <p><a href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-6421.pdf">CSE6421</a> and <a href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-3421.pdf">CSE3421</a></p>
    </div>
    <div>
      <h3>Some history</h3>
      <p>I was born in <a href="https://en.wikipedia.org/wiki/Cluj-Napoca">Cluj-Napoca</a>, in the beautiful province of <a href="https://www.visittransilvania.ro/">Transilvania</a> in <a href="https://www.cia.gov/library/publications/the-world-factbook/geos/ro.html">Romania</a>. I received an Engineer Diploma from the <a href="http://www.utcluj.ro/">Technical University of Cluj-Napoca</a> in 2002.</p>
    </div>
  </article>
</div>
</div>