---
title: More News
---
<div id="content">
	<h1>Computer Architecture Research Lab</h1>
	<h4>Computer Science and Engineering - The Ohio State University </h4>

	<!-- more news events from the lab are listed here -->
	<div id = "newNews">
		<ul id = "listDates">
			<li> 
				<strong>03/05/2013 </strong>
				Our paper on voltage speculation in Itanium processors will appear in ISCA 2013 in June. Congratulations Anys!
			</li>
			<li>
				<strong>01/30/2013 </strong> 
				Radu won an <a href = "https://beta.nsf.gov/funding/opportunities/faculty-early-career-development-program-career"> NSF CAREER award </a> titled <a href = "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&HistoricalAwards=false">An Integrated Treatment of Voltage Noise and Process Variability in Many-core and GPU Systems with Microarchitectural Solutions</a>. Here are the <a href = "https://www.cse.ohio-state.edu/news/news177.shtml"> CSE department </a> and <a href = "https://engineering.osu.edu/news/2013/03/four-trailblazing-faculty-named-among-top-scholars"> College of Engineering </a>announcements with brief overviews.
			</li>
			<li>
				<strong>12/15/2012 </strong> 
				Our team will be part of the DARPA-sponsored “Power Efficiency Revolution for Embedded Computing Technologies” (PERFECT) project that aims to design energy-efficient embedded systems using near-threshold technology.
			</li>
			<li>
				<strong>12/02/2012 </strong> 
				We are helping organize the <a href = "https://web.cse.ohio-state.edu/~teodorescu.1/workshops/wntc/index.html"> First Workshop on Near-threshold Computing (WNTC) </a> to be held in conjunction with the International Symposium on Microarchitecture (MICRO) 2012, Vancouver, Canada.
			</li>
			<li>
				<strong>06/10/2012 </strong> 
				<a href = "https://www.cse.ohio-state.edu/~millerti/"> Tim Miller </a>, the first PhD graduate in our group, will join the <a href = "https://www.binghamton.edu/watson/programs/academic-departments/computer-science/index.html">Department of Computer Science at SUNY Binghamton </a> as an Assistant Professor. Congratulations and best wishes from all of us, Prof. Miller!
			</li>
			<li>
				<strong>04/27/2012 </strong> 
				Congratulations to Tim for successfully defending his PhD thesis. Well done Doctor!
			</li>
			<li>
				<strong>04/15/2012 </strong> 
				Renji will be spending the summer at Intel's Technology for Reliability and Usage group in Hudson, Massachusetts.
			</li>
			<li>
				<strong>03/02/2012 </strong> 
				Our paper on characterizing and eliminating voltage emergencies in many-core processors will appear in ISCA 2012.
			</li>
			<li>
				<strong>01/12/2012 </strong> 
				Tim won our department’s Graduate Student Research Award for 2012! The award if given to two Ph.D. students every year for exceptional research accomplishments. Congratulations!
			</li>
			<li>
				<strong>11/09/2011 </strong> 
				Our <a href = "https://web.cse.ohio-state.edu/~teodorescu.1/download/papers/booster-hpca12.pdf"> paper on reducing variation effects in near-threshold chip multiprocessors</a> was accepted at <a href = "https://www.ece.lsu.edu/hpca-18/"> HPCA 2012</a>. Congratulations team!
			</li>
			<li>
				<strong>08/01/2011 </strong> 
				Our group received an <a href = "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1117799"> NSF GOALI grant</a>to support our research on ultra-low power architectures. The project is an academia/industry collaboration between our research group and <a href ="https://eda.sw.siemens.com/en-US/">Mentor Graphics</a>.
			</li>
			<li>
				<strong>07/14/2011 </strong> 
				Congratulations to Tim to successfully defending his Candidacy proposal and to Xiang for passing his Qualifiers through the accelerated option!
			</li>
			<li>
				<strong>06/17/2011 </strong> 
				Congratulations to Naser for having his paper accepted at PACT!
			</li>
			<li>
				<strong>08/17/2010 </strong> 
				Our paper on error correction for near-threshold caches was accepted to <a href = "https://www.microarch.org/micro43/"> MICRO 2010</a>. Congratulations to all involved!
			</li>
			<li>
				<strong>07/26/2010 </strong> 
				We had a paper accepted to SBAC-PAD 2010. Congratulations to Tim and Naga!
			</li>
		</ul>
	</div>
</div>
