---
title: People
---

<!-- Page lists people involved in the lab -->
<div id="content">
	<h1>Computer Architecture Research Lab</h1>
	<h4>Computer Science and Engineering - The Ohio State University </h4>
	<div id= "photoDiv">
		<img id= "group" src= "images/arch_group2.jpg" alt = "Research Group" style="max-width: 100%; height: auto;" >
	</div>
	<div id = "faculty">
		<h3>Faculty</h3>
		<ul>
			<li>
				<a href = "https://web.cse.ohio-state.edu/~teodorescu.1/">Radu Teodorescu</a>, Professor
			</li>
		</ul>
	</div>
	<div id = "students">
		<h3>Students</h3>
		<ul>
			<li>Kristin Barber, PhD Student</li>
			<li><a href = "http://web.cse.ohio-state.edu/~samavatian.1/">Mohammad Hossein Samavatian</a>, PhD Student</li>
			<li>Saikat Majumdar, PhD Student</li>
			<li>Moein Ghaniyoun, PhD Student</li>
		</ul>
	</div>
	<div id = "alumni">
		<strong>Group Alumni</strong>
		<ul>
			
			<li><h5>Phd</h5></li>
			<li>Li Zhou, PhD 2019, Engineer, Twitter</li>
			<li> <a href ="https://xiangpan-osu.github.io/">Xiang Pan</a>, PhD 2017, Senior Engineer, Qualcomm</li>
			<li><a href = "https://anysbacha.github.io/">Anys Bacha</a>, PhD 2016, Assistant Professor, University of Michigan-Dearborn</li>
			<li>Renji Thomas, PhD 2015, Power and Performance Engineer, Intel</li>
			<li>Naser Sedaghati, PhD 2015, Research Engineer, Imagination Technologies</li>
			<li><a href = "http://www.cs.binghamton.edu/~millerti/">Timothy Miller</a>, PhD 2012, Assistant Professor, SUNY Binghamton</li>				
		</ul>
		
		<ul>
			<li><h5>MS, BS</h5></li>
			<li>Indresh Sira Gururajaprasad, MS 2017</li>
			<li>Spencer Rudolph, MS 2016</li>
			<li>Razvan Lupusoru, MS 2011, Engineer, Intel Corp.</li>
			<li>Anushree Dwivedi, BS 2010</li>
			<li>Wonjeon Kim, MS 2010</li>
			<li>Nagarjuna Surapaneni, MS 2010</li>				
		</ul>
	</div>
</div>

